extends layout

block content
	h1 #{selected.title}
	form(method='post', action='/rankings/#{selected._id}/editItem', novalidate)
		div.form-group
			label(for="Name") Edit Name?:
			input#title.form-control(type='text', placeholder=' Name', name='content')
		div.form-group
			label(for="Notes") Edit Notes?:
			input#notes.form-control(type='textarea', placeholder=' Notes', name='notes',required='false')
		div.form-group
			label(for="Rank") Edit Rank?:
			input#notes.form-control(type='textarea', placeholder=' Rank', name='rank',required='false')
		span.input-group-btn
			input.btn.btn-success(type='submit', value='Update Entry')