doctype html
html
	head
		meta(charset='utf-8')
		| &#x9;
		meta(name='viewport', content='width=device-width')
		| &#x9;
		meta(name='description', content='RankIt Application for keeping ordered lists')
		| &#x9;
		meta(name='keywords', content='web design, Pedro Costa, rankit')
		| &#x9;
		meta(name='author', content='Pedro Costa')
		| &#x9;
		title PedroCosta | About
		| &#x9;
		body
		block content