extends layout

block content
  h1.text-center My Lists
  .panel.panel-default
    for list in results
      .panel-body
        a(href='/rankings/#{list._id}') #{list.title} 
        form(action='/rankings/destroy/#{list._id}', method='post')
          input.btn.btn-danger.pull-right(type='submit', value='Delete')
  form(method='post', action='/rankings/create')
    .input-group
      input.form-control(type='text', placeholder='New list?', name='content')
      span.input-group-btn
        input.btn.btn-success(type='submit', value='Add List')


